body{
  text-align: center;
  font-family: sans-serif;
}
.logout, .back, #nav p{
  font-size: 9pt;
  vertical-align: middle;
  text-decoration: none;
  display: inline;
}
.back{
  color: green;
  font-size: 9pt;
  text-decoration: none;
}
.logout{
  color: red;
}
#nav p{
  color: black;
}
p{
  margin: 3px 0;
  padding: 0;
}
a{
  font-size: 9pt;
  color: red;
  vertical-align: middle;
  text-decoration: none;
}
.italics{
  font-style: italic;
}
.green{
  color: green;
  font-weight: bold;
}
