body{
  font-family: sans-serif;
}
h3 a{
  font-size: 9pt;
  color: red;
  vertical-align: middle;
}
textarea{
  width: 600px;
  height: 20px;
}
a{
  font-size: 9pt;
  color: red;
  vertical-align: middle;
  text-decoration: none;
}
h4{
  margin: 10px 0 0 0;
  padding: 0;
}
button{
  vertical-align: top;
  height: 26px;
}
p{
  margin: 3px 0;
  padding: 0;
}
#post_text{
  display: inline-block;
}
h5{
  color: red;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.italics{
  font-style: italic;
}
.green{
  color: green;
  font-weight: bold;
}
